<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8" />
	<meta name="MobileOptimized" content="320"  />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, 
	maximum-scale=1.0" name="viewport" />
	<meta name="description" content="德佑私客通讯录" />
	<meta name="keywords" content="德佑私客通讯录" />
	<meta name="author" content="mediapower.mobi" />
	<meta name="copyright" content="Copyright &copy;dooioo.com 版权所有" />
	<title>德佑私客通讯录</title>
	<link type="text/css" rel="stylesheet" href="css/reset.css">
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/commom.js"></script>
</head>
<body>
<div ng-controller="customerlist">
<input class="searchinput" type="search" ng-model="query" placeholder="请输入手机号或者昵称搜索">
<ol class="customerlistall">
	<dl class="clearfix" ng-repeat="user in users | filter : query | orderBy : orderProp">
		<dd class="fl">
			<b>{{user.uname}}</b>
			<span>{{user.uaddr}}</span>
			<span>{{user.detail}}</span>
		</dd>
		<dd class="fr">
			<p>{{user.lct}}</p>
			<a href="#" ng-click="phone(user);"><p ng-hide="user.extra">更多信息</p></a>
		</dd>
		<!--隐藏域
		<div id="extra_{{user.uname}}" ng-hide=true>
			<ul>
				<li><span>{{user.uname}}</span><span>{{user.umobile}}</span></li>
				<li ng-repeat="extra in user.extra">
					<span>{{extra.uname}}</span>
					<span>{{extra.umobile}}</span>
				</li>
			</ul>
		</div>
		-->
	</dl>
</ol>

<!--弹出层-->
<div class="cover" id="cover">
	<div class="function">
		<p>
			<span>{{user.uname}}</span><br>
		</p>
		<p ng-show="user.utel"><button><a href="tel:user.utel">拨打固话</a></button></p>
		<p ng-show="user.umobile"><button><a href="tel:user.umobile">拨打手机</a></button></p>
		<p ng-show="user.umobile"><button href="sms:user.utel">发短信</button></p>
		<p><button>取消</button></p>
	</div>
</div>

</div>
</body>
</html